<!DOCTYPE html>
<html
	lang="en"
	th:replace="~{fragments/base :: parent(~{:: #content}, ~{::title}, ~{})}"
>
	<head>
		<title>Home - SCM</title>
	</head>
	<body>
		<div
			id="content"
			class="container mx-auto w-1/2 bg-gray-200 p-8 mt-12 text-base flex flex-col space-y-3"
		>
			<h1 class="text-3xl font-bold" data-th-text="${name}"></h1>
			<p><strong>Address : </strong><span th:text="${address}"></span></p>
			<a class="font-medium text-blue-600" data-th-href="${github}">
				Click here to Open the Source Code Repo
			</a>
			<p class="text-gray-500">
				Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi
				molestiae nulla assumenda vero iste ducimus deleniti non necessitatibus
				error saepe beatae recusandae corporis omnis nostrum vitae alias
				repudiandae, totam ullam cumque neque incidunt reiciendis esse. In
				maxime quam reiciendis rerum laborum est accusantium odio aliquam
				dolorem, ab id soluta ipsum!
			</p>
			<button
				class="px-6 py-2 rounded bg-blue-700 text-white w-fit hover:bg-blue-600 transition"
			>
				Click Here
			</button>
		</div>
	</body>
</html>
